@use "./colors" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: #333;
}

nav {
	text-transform: uppercase;
	transition: background-color .6s;
	z-index: 3;

	.navbar-brand {
		font-weight: bold;
		color: $white;
	}

	.navbar-brand-color {
		color: $main-color;
	}

	.navbar-toggler {
		padding: 10px 15px;
	}

	.nav-link,
	.navbar-nav .nav-link.show,
	.fa-bars {
		color: $white;
	}

	.navbar-nav .nav-link.active,
	.nav-link:focus,
	.nav-link:hover,
	.navbar-brand:hover {
		color: $main-color;
	}
}

header {
	position: relative;
	height: 100vh;
	background-image: url("../img/header-photo-small.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $white;
	z-index: 0;

	.image-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}

	.title {
		text-transform: uppercase;
	}

	.color-text {
		color: $main-color;
	}

	.image-shadow {
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}

	.btn {
		margin-top: 10px;
		padding: 5px 15px;
		text-transform: uppercase;
	}

	.fa-solid {
		position: absolute;
		bottom: 20px;
		transform: translateX(-50%);
		font-size: 34px;
		color: $white;
	}
}

.navigation-background {
	background-color: rgba(0, 0, 0, .8);
}

@media (min-width: 768px) {
	.image-text {
		.title {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}
}

@media (min-width: 1200px) {
	.header-image {
		background-image: url("../img/header-photo-big.jpg");
	}
}
